.login{
    height: 400px;

    .login-form{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 40px auto;
        width: 400px;
        height: 450px;
        background-color: lightgrey;
        border-radius: 20px;

        h2{
            font-size: 36px;
            padding: 20px;
        }

        .text-field-one{
            margin: 20px;
            width: 350px;
            padding: 10px;
            outline: none;
            border: solid 2px #000;
        }

        .submit{
            width: 100px;
            height: 50px;
            border-radius: 30px;
        }

        .submit:hover{
            text-decoration: underline;
        }


    }
}