.hero{
  background-image: linear-gradient(to bottom, rgba(255, 209, 64,.8), rgba(255, 209, 64, .8)),url(../img/about.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 980px;
  height: 378px;
  margin: 0 auto;
  padding-bottom: 50px;
  
}

  .history{
    max-width: 980px;
    min-height: 378px;
    margin: 0 auto;

    span{
      text-transform: uppercase;
      font-size: 25px;
      font-weight: bold;
      border-bottom: solid 2px black;
      padding-right: 30px;
      padding-bottom: 10px;
      margin-bottom: -90px;
    }
  
   p {
    margin-top: 70px;
    font-family: GillSansBI;
    font-size: 16px;
  }

}

