* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

@font-face {
  font-family: GillSansReg;
  src: url(fonts/GillSans.ttc);
}
@font-face {
  font-family: GillSansB;
  src: url(fonts/GillSansBold.otf);
}
@font-face {
  font-family: GillSansI;
  src: url(fonts/GillSansItalic.otf);
}
@font-face {
  font-family: GillSansBI;
  src: url(fonts/GillSansBoldItalic.otf);
}
@font-face {
  font-family: PTSerif;
  src: url(fonts/PTSerif-Regular.ttc);
}
@font-face {
  font-family: PTSerif-I;
  src: url(fonts/PTSerif-Italic.ttf);
}
@font-face {
  font-family: PTSerif-BI;
  src: url(fonts/PTSerif-BoldItalic.ttf);
}
@font-face {
  font-family: PTSerif-B;
  src: url(fonts/PTSerif-Bold.ttf);
}
nav {
  max-width: 980px;
  height: 70px;
  margin: 0 auto;
  border-bottom: solid 2px black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav span {
  position: absolute;
  bottom: -5px;
  color: #000;
  font-family: GillSansB;
  font-size: 20px;
  right: -10px;
}

.logo {
  position: relative;
  width: 92px;
  height: 42px;
  border: solid 2px #000;
}

.links {
  width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.links a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #000;
  font-family: GillSansB;
}

a span {
  color: #000;
}

.gallery {
  max-width: 980px;
  min-height: 378px;
  margin: 0 auto 0 auto;
  padding-bottom: 20px;
}
.gallery span {
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  padding-right: 30px;
  padding-bottom: 10px;
  border-bottom: solid 2px #000;
  position: absolute;
  top: 80px;
}
.gallery .gallery-images {
  margin-top: 50px;
}
.gallery .gallery-images .rowOne {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 20px;
}
.gallery .gallery-images .rowOne .imageOne {
  width: 489px;
  height: 187px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 209, 64, 0.7)), to(rgba(255, 209, 64, 0.7))), url(../img/1.png);
  background-image: linear-gradient(rgba(255, 209, 64, 0.7), rgba(255, 209, 64, 0.7)), url(../img/1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.gallery .gallery-images .rowOne .imageTwo {
  width: 187px;
  height: 187px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(238, 67, 103, 0.7)), to(rgba(238, 67, 103, 0.7))), url(../img/2.jpeg);
  background-image: linear-gradient(rgba(238, 67, 103, 0.7), rgba(238, 67, 103, 0.7)), url(../img/2.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.gallery .gallery-images .rowOne .imageThree {
  width: 265px;
  height: 187px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(8, 173, 105, 0.7)), to(rgba(8, 173, 105, 0.7))), url(../img/3.jpg);
  background-image: linear-gradient(rgba(8, 173, 105, 0.7), rgba(8, 173, 105, 0.7)), url(../img/3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.gallery .gallery-images .rowTwo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}
.gallery .gallery-images .rowTwo .imageFour {
  width: 603px;
  height: 306px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(84, 13, 110, 0.7)), to(rgba(84, 13, 110, 0.7))), url(../img/4.jpg);
  background-image: linear-gradient(rgba(84, 13, 110, 0.7), rgba(84, 13, 110, 0.7)), url(../img/4.jpg);
}
.gallery .gallery-images .rowTwo .imageFive {
  width: 355px;
  height: 306px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(59, 206, 171, 0.7)), to(rgba(59, 206, 171, 0.7))), url(../img/5.png);
  background-image: linear-gradient(rgba(59, 206, 171, 0.7), rgba(59, 206, 171, 0.7)), url(../img/5.png);
}

footer {
  height: 455px;
  background-color: #ee4367;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
footer .footer-content {
  width: 400px;
  text-align: center;
  font-family: GillSansReg;
}
footer .footer-content .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 92px;
  height: 42px;
  border: solid 2px #fff;
}
footer .footer-content .logo span {
  color: #fff;
  font-family: GillSansReg;
  font-size: 20px;
}
footer .footer-content h2 {
  color: #fff;
  font-size: 16px;
  padding-top: 50px;
}
footer .footer-content .number {
  color: #fff;
  font-size: 16px;
  margin-top: -10px;
}
footer .footer-content .email {
  color: #fff;
  font-size: 16px;
  margin-top: -10px;
}
footer .footer-content .copyright {
  color: #fff;
  font-size: 16px;
}
footer .footer-content i {
  color: #fff;
  font-size: 30px;
  padding: 15px;
}
footer .signup {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
footer .signup input {
  width: 529px;
  height: 100%;
  background-color: #f56b88;
  border: none;
  color: rgba(238, 67, 103, 0.8);
  font-size: 16px;
  padding-left: 15px;
}
footer .signup ::-webkit-input-placeholder {
  color: rgb(238, 67, 103);
}
footer .signup ::-moz-placeholder {
  color: rgb(238, 67, 103);
}
footer .signup :-ms-input-placeholder {
  color: rgb(238, 67, 103);
}
footer .signup ::-ms-input-placeholder {
  color: rgb(238, 67, 103);
}
footer .signup ::placeholder {
  color: rgb(238, 67, 103);
}
footer .signup .button {
  height: 100%;
  width: 167px;
  background-color: #fff;
  color: #ee4367;
}

@media (max-width: 800px) {
  .footer-content {
    font-size: 15px;
    margin: 0 auto;
  }

  .logo .span {
    margin: 0 auto;
  }
  .logo .signup {
    margin: 0 auto;
  }
}